<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Admin Panel</title>
    <link rel="stylesheet" href="/css/vendor/font-awesome.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>
<body class="container">
  <div class="jumbotron">
    <p>Admin Panel</p>
    <p><a href="/" class="btn btn-primary">To Webstore</a></p>
  </div>
  <div class="col-md-6">
  <ul class="nav nav-pills nav-stacked">
      <li class="active"><a href="/admin/products">Products</a></li>
      <li><a href="/admin/customers">Customers</a></li>
      <li><a href="/admin/orders">Orders</a></li>
      <li><a href="/admin/categories">Categories</a></li>
  </ul>
</div>
</body>
</html>
