{% extends 'layouts/base.twig' %}
{% block header_javascript %}
    <script src="js/Product.js"></script>
    <script>
        $(document).ready(function () {
            var product = new Product();
            $('.product__button').on('click', function (event) {
                event.preventDefault();
                var product_id = $(this).attr('data-id');
//                var text = $(this).parent().find('#text').val();
                var url = $(this).parent().attr('action');
                var method = $(this).parent().attr('method');
                product.add(url, method, product_id);
            });
        });
    </script>
{% endblock %}
{% block title %} Home page {% endblock %}
{% block content %}
            <div class="slider">
            <img class="slider__img" src="/img/slider.png" alt="slider">
            <div class="slider__brand brand-text">
                <p class="brand-text__name">The brand</p>
                <p class="brand-text__desc">of luxerious <span class="brand-text__desc_accent">fashion</span></p>
            </div>
        </div>
        <div id="category" class="container">
          <div class="row">
            <div class="col-lg-6">
              <div class="cat-item">
                <div class="cat-badge"><p class="cat-promo">hot deal</p><p class="cat-name pink">for men</p></div>
                <img src="img/cat/topleft.png">
              </div>
              <div class="cat-item">
                <div class="cat-badge"><p class="cat-promo">luxirous & trendy</p><p class="cat-name pink">accesories</p></div>
                <img src="img/cat/botleft.png">
              </div>
            </div>
            <div class="col-lg-6">
              <div class="cat-item">
                <div class="cat-badge"><p class="cat-promo">30% offer</p><p class="cat-name pink">women</p></div>
                <img src="img/cat/topright.png">
              </div>
              <div class="cat-item">
                <div class="cat-badge"><p class="cat-promo">new arrivals</p><p class="cat-name pink">for kids</p></div>
                <img src="img/cat/botright.png">
              </div>
            </div>
          </div>
        </div>
                <section class="products">
            <header class="products__header">
                <h2 class="products__title">Featured Items</h2>
                <p>Shop for items based on what featured in this week</p>
            </header>
            <div class="products__products">
                {% for product in products %}
                    <div class="products__product product">
                        {% include 'product/card.twig' with {"product": product} %}
                    </div>
                {% endfor %}
            </div>
            <div class="clear"></div>
            <footer>
                <a class="products__browse button" href="/catalog">
                    Browse All Product
                    <i class="products__browse_icon fa fa-long-arrow-right" aria-hidden="true"></i>
                </a>
            </footer>
        </section>
        <aside class="offer">
            <div class="offer__banner">
                <img src="/img/offer.png" alt="offer" class="offer__banner_bg">
                <div class="offer__banner_title">
                    <p class="offer__banner_text">30% <span class="offer__banner_accent">Offer</span></p>
                    <p>for women</p>
                </div>
            </div>
            <div class="offer__benefits">
                <article class="offer__benefit benefit">
                    <img src="/img/offer_icon1.png" alt="offer_icon1" class="benefit__img">
                    <h3 class="benefit__title">Free Delivery</h3>
                    <p class="benefit__text">Worldwide delivery on all. Authorit tively morph next-generation innov tion with extensive models.</p>
                </article>
                <article class="offer__benefit benefit">
                    <img src="/img/offer_icon2.png" alt="offer_icon2" class="benefit__img">
                    <h3 class="benefit__title">Sales & discounts</h3>
                    <p class="benefit__text">Worldwide delivery on all. Authorit tively morph next-generation innov tion with extensive models.</p>
                </article>
                <article class="offer__benefit benefit">
                    <img src="/img/offer_icon3.png" alt="offer_icon3" class="benefit__img">
                    <h3 class="benefit__title">Quality assurance</h3>
                    <p class="benefit__text">Worldwide delivery on all. Authorit tively morph next-generation innov tion with extensive models.</p>
                </article>
            </div>
        </aside>
        <div class="clear"></div>
{% endblock %}
