<header class="breadcrumbs">
    <h1 class="breadcrumbs__title">New arrivals</h1>
    <div class="breadcrumbs__links">
        <nav>
            <ul>
                <li class="breadcrumbs__item"><a href="/" class="breadcrumbs__link">Home</a></li>
                <li class="breadcrumbs__item">/</li>
                <li class="breadcrumbs__item"><a href="catalog.php" class="breadcrumbs__link">Men</a></li>
                <li class="breadcrumbs__item">/</li>
                <li class="breadcrumbs__item"><a href="catalog.php" class="breadcrumbs__link breadcrumbs__link_current">New Arrivals</a></li>
            </ul>
        </nav>
    </div>
</header>